@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Lato:regular,italic,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800&display=swap");

@font-face {
    font-family: "RoxboroughCF";
    src: 
        url(../fonts/RoxboroughCF-Medium.woff2) format("woff2"), 
        url(../fonts/RoxboroughCF-Medium.woff) format("woff");
    font-weight: medium;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "RoxboroughCF";
    src: 
        url(../fonts/RoxboroughCF-Bold.woff2) format("woff2"), 
        url(../fonts/RoxboroughCF-Bold.woff) format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "RoxboroughCF";
    src: 
        url(../fonts/RoxboroughCF-Light.woff2) format("woff2"), 
        url(../fonts/RoxboroughCF-Light.woff) format("woff");
    font-weight: light;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "RoxboroughCF";
    src: 
        url(../fonts/RoxboroughCF-MediumItalic.woff2) format("woff2"), 
        url(../fonts/RoxboroughCF-MediumItalic.woff) format("woff");
    font-weight: medium;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: "Normaliq";
    src: url(../fonts/Normaliq-Regular.woff2) format("woff2"),
    url(../fonts/Normaliq-Regular.woff) format("woff");
    font-weight: regular;
    font-style: normal;
    font-display: swap;
}















h1 {
    font-family: "Playfair Display", serif;
    font-size: 30px;
    line-height: 1.4;
    font-weight: 800;
    color: #51392d;
    text-transform: uppercase;
    text-align: center;
}

.title {
    font-family: "RoxboroughCF", sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 1.4;
}


p {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    line-height: 1.4;
    font-weight: regular;
}

