@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Lato:regular,italic,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,regular,600,700&display=swap");

@font-face {
    font-family: "RoxboroughCF";
    src: 
        url(../fonts/RoxboroughCF-Medium.woff2) format("woff2"), 
        url(../fonts/RoxboroughCF-Medium.woff) format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "RoxboroughCF";
    src: 
        url(../fonts/RoxboroughCF-Bold.woff2) format("woff2"), 
        url(../fonts/RoxboroughCF-Bold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "RoxboroughCF";
    src: 
        url(../fonts/RoxboroughCF-Light.woff2) format("woff2"), 
        url(../fonts/RoxboroughCF-Light.woff) format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "RoxboroughCF";
    src: 
        url(../fonts/RoxboroughCF-MediumItalic.woff2) format("woff2"), 
        url(../fonts/RoxboroughCF-MediumItalic.woff) format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Normaliq";
    src: url(../fonts/Normaliq-Regular.woff2) format("woff2"),
    url(../fonts/Normaliq-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Normaliq";
    src: url(../fonts/Normaliq-Medium.woff2) format("woff2"),
    url(../fonts/Normaliq-Medium.woff) format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Normaliq";
    src: url(../fonts/Normaliq-Semibold.woff2) format("woff2"),
    url(../fonts/Normaliq-Semibold.woff) format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Normaliq";
    src: url(../fonts/Normaliq-Bold.woff2) format("woff2"),
    url(../fonts/Normaliq-Bold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Normaliq";
    src: url(../fonts/Normaliq-Italic.woff2) format("woff2"),
    url(../fonts/Normaliq-Italic.woff) format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}








h1 {
    font-family: "Playfair Display", serif;
    font-size: 30px;
    line-height: 1.4;
    font-weight: 800;
    color: #51392d;
    text-transform: uppercase;
    text-align: center;
}

.title {
    font-family: "RoxboroughCF", sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 1.4;
}


p {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 400;
}



.introduction .headline,
.introduction  .sub-headline {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
}

.introduction .headline {
    font-size: 30px;
    color: #37393F;
}

.introduction  .sub-headline {
    color: #6B77E5;
    font-size: 20px;
}

.introduction p {
    font-family: "Inter", sans-serif;
    color: #7D7D7D;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.47;
}

.sub-title {
    font-family: "Poppins", sans-serif;
    color: #37393F;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.27; 
}

.description p {
    font-family: "Inter", sans-serif;
    color: #7D7D7D;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.47;
}

.description .list {
    font-family: "Inter", sans-serif;
    color: #7D7D7D;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.47;
}

