@import url("fonts.css");
@import url("https://fonts.googleapis.com/css?family=Lato:regular,italic,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,regular,600,700&display=swap");

@import url("reset.css");

h1 {
    font-family: "Playfair Display", serif;
    font-size: 30px;
    line-height: 1.4;
    font-weight: 800;
    color: #51392d;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 2px 2px 4px #141b17;
}

.title {
    font-family: "RoxboroughCF", sans-serif;
    font-style: italic;
    text-decoration: underline;
    font-size: 30px;
    line-height: 1.4;
    text-shadow: 2px 2px 4px #375d9e80, 5px -2px 10px #15187380;
}


body {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 0.5px;
}


.introduction .headline,
.introduction  .sub-headline {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.introduction .headline {
    font-size: 30px;
    color: #37393F;
}

.introduction  .sub-headline {
    color: #6B77E5;
    font-size: 20px;
}

.introduction p {
    font-family: "Inter", sans-serif;
    color: #7D7D7D;
    font-size: 18px;
    line-height: 1.47;
}

.sub-title {
    font-family: "Poppins", sans-serif;
    color: #37393F;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.27; 
}

.description p {
    font-family: "Inter", sans-serif;
    color: #7D7D7D;
    font-size: 18px;
    line-height: 1.47;
}

.description .list {
    font-family: "Inter", sans-serif;
    color: #7D7D7D;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.47;
}

.plan * {
    font-family: "Normaliq", sans-serif;
    font-style: italic;
    font-size: 18px;
    line-height: 1.4;
    text-transform: capitalize;
    text-align: center;
}

span {
    color: #3eb0d2;
    text-decoration: underline;
    text-transform: uppercase;
}

.bullet {
    color: #589dbc;
}

.bullet + li {
    color: #2b617b;
}

.whisker + li {
    color:#c18688;
}

.kitten + li {
    color: #81ddd8;
}

.lock + li {
    color: #91b8c9;
}

.candy + li {
    color: #bcafc0
}

.candy ~ li {
    color: #618199
}

.image-center {
    text-align: center;
}

.right {
    text-align: right;
}

.top-parahraph .title{
    text-align: center;
}

main {
    text-indent: 20px;
}

.finale {
    text-align: right;
}